<?xml version="1.0" encoding="UTF-8"?>
<hivemq-bridge-extension xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xsi:noNamespaceSchemaLocation="config.xsd">
    <bridges>
        <bridge>
            <name>edge-server-bridge</name>

            <remote-broker>
                <connection>
                    <static>
                        <host>192.168.68.62</host>
                        <port>1883</port>
                    </static>
                </connection>
                <mqtt>
                    <clean-start>true</clean-start>
                    <keep-alive>60</keep-alive>
                    <session-expiry>0</session-expiry>
                    <version>5</version>
                </mqtt>
            </remote-broker>

            <topics>
                <topic>
                    <filter>devices/#</filter>
                    <mode>PUB</mode>
                    <destination>uns/enterprise/site/area/line/{#}</destination>
                </topic>
                <topic>
                    <filter>commands/enterprise/site/area/line/#</filter>
                    <mode>SUB</mode>
                </topic>
            </topics>

        </bridge>
    </bridges>

</hivemq-bridge-extension>
